<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Rent Payment Invoice</title>
  </head>
  <body>
    <div class="px-6 pt-12">
      <div class="flex items-start justify-between">
        <div class="flex items-center">
          <img class="w-[40px] mr-2" src="http://localhost:8000/resources/lawang.png" />
          <h1 class="text-4xl text-[#3FC1C9]">Lawang</h1>
        </div>
        <div class="text-[12px]">
          <p>Email: lawang.resortdream@proton.me</p>
          <p>Telp: 0899 6655 7676</p>
          <p>Alamat: Jl. Jenderal Sudirman Kota Jakarta Selatan</p>
        </div>
      </div>

      <h1 class="text-4xl mt-12 mb-8">Invoice Pembayaran</h1>
      <p class="text-2xl font-semibold my-4">Halo {{username}}</p>
      <p class="text-xl text-slate-500 mb-2">RINCIAN</p>
    </div>

    <div class="bg-slate-100">
      <div class="px-6 py-4 text-lg">
        <div class="flex justify-between">
          <p>Invoice</p>
          <p class="font-thin">{{ orderId }}</p>
        </div>
        <div class="flex justify-between">
          <p>Properti</p>
          <p class="font-thin">{{ propertyName }}</p>
        </div>
        <div class="flex justify-between">
          <p>Kamar</p>
          <p class="font-thin">{{ propertyRoom }}</p>
        </div>
        <div class="flex justify-between">
          <p>Info</p>
          <p class="font-thin">{{ roomInfo }}</p>
        </div>
        <div class="flex justify-between">
          <p>Tamu</p>
          <p class="font-thin">{{ guest }} orang</p>
        </div>
        <div class="flex justify-between">
          <p>Lama menginap</p>
          <p class="font-thin">{{ numberOfNight }} malam</p>
        </div>
        <div class="flex justify-between">
          <p>Biaya per malam</p>
          <p class="font-thin">{{ price }}</p>
        </div>
        <div class="flex justify-between">
          <p>Total biaya</p>
          <p class="font-thin">{{ totalPrice }}</p>
        </div>
      </div>
    </div>
    <div class="px-6 text-lg">
      <p class="mt-6 mb-2">Terimakasih atas kepercayaan Anda menggunakan layanan kami</p>
      <p>Salam,</p>
      <p>Tim Lawang Inc.</p>
    </div>
  </body>
</html>
