<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Prove Payment Invoice</title>
  </head>
  <body>
    <div class="px-6 pt-12">
      <div class="flex items-center">
        <img class="w-[40px] mr-2" src="http://localhost:8000/resources/lawang.png" />
        <h1 class="text-3xl">Lawang</h1>
      </div>

      <h1 class="text-4xl mt-12 mb-8">Bukti Pembayaran</h1>
      <p class="text-2xl font-semibold my-4">Halo {{username}}</p>
      <p class="text-lg mt-6 mb-2">
        Terimakasih atas kepercayaan Anda menggunakan layanan kami, berikut bukti pembayaran
      </p>
      <p class="text-lg">Salam,</p>
      <p class="text-lg">Tim Lawang Inc.</p>
    </div>
  </body>
</html>
