<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Reset Password</title>
  </head>
  <body>
    <div class="px-6 pt-12">
      <div style="display: flex">
        <img style="width: 48px" src="cid:logo" />
        <h1 class="text-4xl text-[#3FC1C9]">Lawang</h1>
      </div>

      <p class="text-2xl font-semibold my-4">Halo {{username}}</p>
    </div>

    <h1>Password Reset</h1>
    <p>Hello {{username}},</p>
    <p>Berikut adalah link untuk melakukan reset password. Terima kasih telah menggunakan layanan kami.</p>
    <p><a href="{{link}}">Reset Password</a></p>
    <div style="margin-top: 20px">
      <p>Salam,</p>
      <p>Tim Lawang Inc.</p>
    </div>
  </body>
</html>
