<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Received OTP</title>
  </head>
  <body>
    <div style="display: flex">
      <img style="width: 48px" src="cid:logo" />
      <h1 style="font-size: 24px; font-weight: 500">Lawang</h1>
    </div>

    <p style="font-size: 18px; font-weight: 700">Halo {{username}}</p>
    <p style="font-size: 24px">Kode OTP</p>
    <p style="font-size: 16px">
      Mohon pastikan Anda tidak pernah memberitahukan kode ini pada siapa pun. Terima kasih telah menggunakan layanan
      kami.
    </p>

    <p style="text-align: center; font-weight: 700; font-size: 18px">Kode OTP Anda:</p>
    <div style="background-color: rgb(240, 240, 240); text-align: center">
      <p style="padding: 24px; font-weight: 900; letter-spacing: 10px; font-size: 48px">{{otp}}</p>
    </div>

    <div style="margin-top: 20px">
      <p style="font-size: 16px; margin: 0px">Salam,</p>
      <p style="font-size: 16px">Tim Lawang Inc.</p>
    </div>
  </body>
</html>
